# Running Statistics

### Imports

In [22]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [23]:
# Load df
garmin = pd.read_csv("activities.csv")

## Data Wrangling

### Create a Running 2022 dataframe

In [24]:
# Change variable names
garmin.columns = ['activity', 'date', 'fav', 'title', 'distance', 'calories', 
                  'time', 'avg_hr', 'max_hr', 'aerobic_te', 'avg_run_cadence',
                  'max_run_cadence', 'avg_pace', 'best_pace', 'total_ascent',
                  'total_descent', 'avg_stride', 'avg_vert_ratio', 
                  'avg_vert_osc', 'avg_ground_contact',
                  'avg_run_cadence1', 'max_run_cadence1', 'training_stress', 'max_avg_power20',
                  'avg_power', 'max_power', 'grit', 'flow', 'total_strokes', 'avg_swolf',
                  'avg_stroke_rate', 'total_reps', 'dive_time', 'min_temp',
                  'surface_interval', 'decomp', 'best_lap', 'number_laps',
                  'max_temp', 'moving_time', 'elapsed_time', 'min_elav', 'max_elav' ]

# Change column to datetime type
garmin["date"] = pd.to_datetime(garmin["date"])

# Create 2022 dataset
garmin["year"] = garmin["date"].dt.year
garmin22 = garmin[garmin["year"] == 2022]

In [35]:
running = garmin22[ garmin22["activity"] == "Running" ]
tred_running = garmin22[ garmin22["activity"] == "Treadmill Running" ]

run = garmin22[ garmin22['activity'].isin(["Running", "Treadmill Running"]) ]

print("Number of rows in original dataframe:", garmin.count()[0])
print("Number of rows in 2022 dataframe:", len(garmin22))
print("Number of rows in running 2022 df:", len(running))
print("Number of rows in  treadmill running 2022 df:", len(tred_running))
print()
print("Number of rows in RUN 2022 df:", len(run))

Number of rows in original dataframe: 160
Number of rows in 2022 dataframe: 149
Number of rows in running 2022 df: 51
Number of rows in  treadmill running 2022 df: 7

Number of rows in RUN 2022 df: 58

## Data Exploration

### Running Data Wrangling

Trim unnecessary columns from the dataset.

In [36]:
keep_cols = ['activity', 'date', 'distance', 'calories', 
            'time', 'avg_hr', 'max_hr', 'aerobic_te', 'avg_run_cadence',
            'max_run_cadence', 'avg_pace', 'best_pace', 'total_ascent',
            'total_descent', 'avg_stride', 'avg_vert_ratio', 'best_lap', 
             'number_laps', 'moving_time', 'elapsed_time', 'min_elav', 'max_elav' ]

run = run[keep_cols]
run.head()

,activity,date,distance,calories,time,avg_hr,max_hr,aerobic_te,avg_run_cadence,max_run_cadence,...,total_ascent,total_descent,avg_stride,avg_vert_ratio,best_lap,number_laps,moving_time,elapsed_time,min_elav,max_elav
2,Running,2022-12-12 14:38:08,9.73,747,01:03:58,138,156,3.2,163,177,...,55,56,0.93,0.0,04:43.60.8,10,01:02:58,01:03:58,6,40
3,Running,2022-12-07 15:48:15,5.66,444,00:41:19,127,151,2.9,139,232,...,27,25,1.01,0.0,05:35.67.4,6,00:34:22,00:41:19,8,23
4,Running,2022-12-05 12:38:49,5.11,397,00:36:00,129,150,2.7,149,175,...,23,28,0.95,0.0,00:49.93.8,6,00:33:52,00:36:00,4,17
5,Running,2022-12-02 15:08:53,8.26,621,00:49:36,137,149,3.2,167,174,...,18,19,1.00,0.0,01:26.81.8,9,00:49:04,00:49:36,6,20
6,Running,2022-11-30 16:04:14,5.32,398,00:30:22,139,156,3.1,165,176,...,30,29,1.06,0.0,01:53.16.6,6,00:29:55,00:30:22,6,24