# Swimming Statistics

## Preliminary Work

### Importing Data and Libraries

In [30]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
# Import data
garmin = pd.read_csv("activities.csv")

### Data Wrangling

**Remove unnecessary columns and trim dataset down to a swimming 2022 dataset**

In [32]:
# Columns to keep
#=================
keep_cols = ['Activity Type', 'Date', 'Distance', 'Calories',
       'Avg HR', 'Max HR', 'Avg Pace', 'Best Pace', 'Total Strokes', 
             'Avg. Swolf', 'Avg Stroke Rate',  'Elapsed Time']

garmin = garmin[keep_cols]


# Change date to datetime and create 2022 dataset
#=================================================
garmin["Date"] = pd.to_datetime(garmin["Date"])
garmin["Year"] = garmin["Date"].dt.year
garmin = garmin[garmin["Year"] == 2022]
del garmin["Year"]

swim.head(1)

,Activity Type,Date,Distance,Calories,Avg HR,Max HR,Avg Pace,Best Pace,Total Strokes,Avg. Swolf,Avg Stroke Rate,Elapsed Time
15,Pool Swimming,2022-11-16 08:14:07,1000.0,205.0,128.0,161.0,1900-01-01 00:02:04,1900-01-01 00:01:40,470.0,43.0,23.0,26.0

In [33]:
# Change columns to integer
#===========================
change_int = ['Distance', 'Calories',
              'Avg HR', 'Max HR', 'Total Strokes', 
              'Avg. Swolf', 'Avg Stroke Rate']

# Edit strings
garmin[change_int] = garmin[change_int].replace(",","", regex=True)
garmin[change_int] = garmin[change_int].replace("--","0", regex=True)

# Change to float
garmin[change_int] = garmin[change_int].astype(float)


# Change elapsed time to datetime
#=================================
garmin['Elapsed Time'] = pd.to_datetime(garmin['Elapsed Time'], format='%H:%M:%S')
garmin['Elapsed Time'] = garmin['Elapsed Time'].dt.hour*60 + garmin['Elapsed Time'].dt.minute + garmin['Elapsed Time'].dt.second/60
garmin['Elapsed Time'] = round(garmin['Elapsed Time'])

**Create Swimming Dataset**

In [36]:
swim = garmin[ garmin['Activity Type'] == "Pool Swimming" ]
swim.head(1)

,Activity Type,Date,Distance,Calories,Avg HR,Max HR,Avg Pace,Best Pace,Total Strokes,Avg. Swolf,Avg Stroke Rate,Elapsed Time
15,Pool Swimming,2022-11-16 08:14:07,1000.0,205.0,128.0,161.0,2:04,1:40,470.0,43.0,23.0,26.0

## Statistics

### Totals

**Total statistics for outdoor cycling**

In [37]:
sum_cols = ['Distance', 'Calories', 'Elapsed Time', 'Total Strokes']

swim[sum_cols].sum()

Distance         47415.0
Calories          9641.0
Elapsed Time      1301.0
Total Strokes    21747.0
dtype: float64